@font-face {
    font-family:Bi_polarHandwriting-Regular;
    src: url(../fonts/Bi_polarHandwriting-Regular.ttf);
}

body {background-color:rgb(22, 34, 75)}
p {
    text-align:center;
    font-size: 25px;
    color:rgb(255, 255, 255);
    line-height: 40px;
}



a {text-decoration: none; }



* {
    box-sizing: border-box;
}

header {
    margin: 0 0 20px 0;
    background:linear-gradient(rgb(68, 114, 241),rgb(18, 18, 228));
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    header{
        background: black;
    }
    body {
      background-color: rgb(22, 34, 75);
    }
  }


h1{
    color: #ffffff;
}

main {
    width: 50%; 
    margin: auto;
    text-align: center;
}

section {
    border: 1px solid black; 
    overflow: auto;
    
}

.float-left {
    float: left; 
    margin: 0 5px 5px 0;
    width: 100%;  
    height: auto;
    
}


#gallery{
    clear: both; 
    text-align: center;
    border: 1px solid black;

}

.link{
    text-decoration: none;
    color: rgb(18, 195, 186);
}

.gallery-item {
    display:inline-block; /* items can be displayed horizontally with a set width/height and margins/padding */
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 5px; 
}

footer {
    text-align:center;
    font-size: 10px;
    padding:10px;
    color:rgba(255, 255, 255, 0.447);
    line-height: 40px;
    font-family:Bi_polarHandwriting-Regular;
    src: url(../fonts/Bi_polarHandwriting-Regular.ttf);
}
    