<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang = "en" dir="ltr">
        <meta name="author" content ="Yida Xu">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Laying Out Layouts</title>
        <link href="styles/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="flex1">This is flex box 1</div>
                <div class="flex2">Laying Out Layouts (also flex box 2)</div>
                <div class="flex3">This is flex box 3</div>
            </div>
            <div class="container1">
                <div class="box">This text is the content of the box. We have added a 50px padding, 20px margin and a 15px green border.</div>
                <p><b>The box model:</b>
                    <br>
                    Content - The content of the box, where text and images appear
                    <br>
                    Padding - Clears an area around the content. The padding is transparent
                    <br>
                    Border - A border that goes around the padding and content
                    <br>
                    Margin - Clears an area outside the border. The margin is transparent
                    <br>
                    The box model allows us to add a border around elements, and to define space between elements. 
                    <br>
                    <b>The box is floating on the left. We have to do this so that you can see it is floating. I have to write longer to make it appear on floating. The float property is used for positioning and formatting content e.g. let an image float left to the text in a container.
                    </b>
                    <br>
                    The float property can have one of the following values:
                    <br>
                    left - The element floats to the left of its container
                    <br>
                    right - The element floats to the right of its container
                    <br>
                    none - The element does not float (will be displayed just where it occurs in the text). This is default
                    <br>
                    inherit - The element inherits the float value of its parent
                    <br>
                    In its simplest use, the float property can be used to wrap text around images.</p>
                
                
            </div>
            <div class="container2">
                Wow
            </div>
            <div class="container3">
                Hey
            </div>
            <div class="footer">
             This is a page with box model/grid/flex/float. Check the code to know how i did it.   
            </div>
        </div>
        
       
    
    </body>
</html>