@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    background-color: #333;
    color: #fff;
}

.logo {
    cursor: pointer;
}

.navbar {
    display: flex;
}

.navbar li {
    list-style: none;
    margin-left: 1rem;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
}

.navbar li a:hover {
    color: #ccc;
}

.container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(380px, auto-fil1);
    grid-template-rows: minmax(100px, auto);
    margin: 50px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.container .box {
    background: rgb(191, 192, 218);
    padding: 100px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    cursor: pointer;
}

.container a {
    text-decoration: none;
    color: rgb(4, 4, 4);
    font-size: 16px;
    font-weight: bold;
}
.container .box:hover {
    background-color: #ddd;
}

@media only screen and (min-width: 601px) and (max-width: 850px) { 
    .container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: fixed ;
    bottom: 0;
    left: 0;
    right: 0;
}